.App {
  /* background-color: #111827; */
  min-height: 100vh;
  max-width: 1560px;
  color: #fff;
}

.animation {
  animation: fire 1.2s steps(1) infinite;
}

@keyframes fire {
  0% {
    transform: translate3d(0px, 0%, 0);
  }
  16.66% {
    transform: translate3d(-28px, 0%, 0);
  }
  33.33% {
    transform: translate3d(-56px, 0%, 0);
  }
  50% {
    transform: translate3d(-84px, 0%, 0);
  }
  66.666% {
    transform: translate3d(-112px, 0%, 0);
  }
  83.333% {
    transform: translate3d(-140px, 0%, 0);
  }
  100% {
    transform: translate3d(-168px, 0%, 0);
  }
}
